<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>


<body>
<h1>This is User page</h1>

<img src=
"https://www.pushengage.com/wp-content/uploads/2022/02/Best-Website-Welcome-Message-Examples.png">



<div class="card-body">
	<div class="btn-group" role="group" aria-label="Basic example">
	<a href="/register" class="btn btn-outline-primary" aria-current="page">Sign up</a>
	<a href="/login" class="btn btn-outline-primary" aria-current="page">Login</a>
	<a href="/logout" class="btn btn-outline-primary" aria-current="page">Logout</a>
	<a href="/home"  class="btn btn-outline-primary" aria-current="page">Home</a>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>